01-benchmark_surfaces/
01-benchmark_surfaces_npy/
01-benchmark_pdbs_npy/
01-benchmark_pdbs/
01-benchmark_pdbs/
shape_index/
masif_preds/
runs/
venv/
preds/
NeurIPS_2020_benchmarks/
figures/
timings/
data_analysis/roc_curves
data_analysis/.ipynb_checkpoints/
.ipynb_checkpoints/
models/
runs/
runs_/
data_preprocessing/pdbs/
data_preprocessing/split/
data_preprocessing/tmp/
surface_data/
env/
__pycache__/
*/__pycache__/

*.txt
*.npy
*.log
*.out
core.*
